@import '../../commonStyle';

#feed {
    display: inline-block;
    width:268px;
    height:344px;
    margin-right:20px;
}

#avatarWrapper {
    display:inline-block;
    height:46px;
    width:36px;
    img {
        width:36px;
        height:36px;
        vertical-align:middle;
    }
}
#nickname {
    height:15px;
    vertical-align:middle;
    margin-left:10px;
}

#feedPhotoWrapper {
    position: relative;
    #popupText{
        display:inline-block;
        text-align:center;
        vertical-align: middle;
        line-height: 55px;
        width:100%;
        height:55%;
    }
    .modalButton {
        display:inline-block;
        text-align:center;
        vertical-align: middle;
        line-height: 40px;
        width:120px;
        font-size : 15px;
        border-width : 1px;
        border-style : solid;
        border-color : #6E6E6E;
        border-radius: 5px;
    }

}

#feedPhoto {
    position:absolute;
    width:268px;
    height:268px;
    border-radius:10px;
}
#feedScrap {
    position: absolute;
    top:226px;
    left:226px;
}
