@import '../../commonStyle';


.modalButton {
    display:inline-block;
    text-align:center;
    vertical-align: middle;
    line-height: 40px;
    width:120px;
    font-size : 15px;
    border-width : 1px;
    border-style : solid;
    border-color : #6E6E6E;
    border-radius: 5px;
}

#popupText{
    display:inline-block;
    text-align:center;
    vertical-align: middle;
    line-height: 55px;
    width:100%;
    height:55%;
}


