@import '../../commonStyle';


.scrapPanel {
    height : 84px;
    width : 100%;
    align-items : center;
}

#onlyScrapButton{
    width : 23px;
    height : 23px;
    background-color : white;
    border-radius : 12px;
    border-width : 1px;
    border-style : solid;
    border-color : #6E6E6E;
}
#onlyScrapButtonSelected{
    width : 25px;
    height : 25px;
    background-color : #63C1E3;
    border-radius : 12px;
}

#scrapCheckIcon{
    font-size : 24px;
    color : #6E6E6E;
}
#scrapCheckIconSelected{
    font-size : 25px;
    color : white;
}