// Regular, Bold 구분하여 font-size, color만 변경하여 사용
.appleSDGothicNeoRegular{
    font-family: AppleSDGothicNeo;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    align-self: center;
}

.appleSDGothicNeoBold{
    font-family: AppleSDGothicNeo;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.buttonWrapper{
    &:hover{
        cursor: pointer;
    }
}